* {color: blue; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
*::selection {background-color: black; color: yellow; text-decoration: none;} 
body {background-color: dark-blue; margin: 0%; padding: 0% 0%; font-size: 18px;}
table {border-collapse: collapse; border: 2px solid; width: 50%; text-align: center;}
thead {background-color: rgb(89, 89, 255);}
thead th, tr td {border-bottom: 2px solid;}
thead th { color: white}
input {cursor:pointer;}
li {list-style-type: none;} 
nav li{padding: 1% 5%;} 
input[name=search]:focus {border: 1px solid blue}
nav {position: relative; display: inline-block; cursor: pointer;}
li:hover {cursor: pointer; transition: all 0.3s ease-in; -webkit-transition: all 0.3s ease-in; -moz-transition: all 0.3s ease-in; -o-transition: all 0.3s ease-in;}
nav:hover .dropdown-content {display: block; background-color: red; transition: all 0.3s ease-in; -webkit-transition: all 0.3s ease-in; -moz-transition: all 0.3s ease-in; -o-transition: all 0.3s ease-in;}
tr:nth-child(even) {background-color: rgb(89, 89, 255);}
tr:nth-child(even) td{color: white}
#organicStructures tr {background-color: unset;} 
#organicStructures td {color: blue; border-bottom: none}
#organicStructures {border: none;}
#previous { border: none; background-color: red; padding: 2% 4%; color: white; cursor: pointer; }
#start_next { border: none; background-color: red; padding: 2% 4%; color: white; cursor: pointer; visibility: hidden; }
#mainPageHeader {color: blue; text-shadow: -4px 4px 2px black; padding: 0.5% 0%; border: 0; border-radius: 3px; font-size: 40px; font-weight: bolder; font-stretch: ultra-expanded; text-align: center; font-style: italic; transform: rotate3d(20deg); transform-style: preserve-3d;}
#stickyHeader { background-color: white; height: 80px; position: sticky; top: 0px; }
#pages { display: inline-flex; }
#home {margin-left: 1%; color: white; text-decoration: none; font-size: 20px}
#quickLinks {margin-left: 0}
#feed_back { width: 19.2%; }
#pageHeader {background-color: red; text-shadow: 0px 1px 1px black; margin-top: 1%; font-size: 20px; padding: 2%; width: 85%}*/
#EssaypageHeader {position: absolute; float: left; top: 13%; left: 0; width: 97%; height: auto; padding: 0.5% 1%; text-align: justify; background-color: red ; box-shadow: -8px 6px 8px 0px blue; text-shadow: -2px 2px 1px black; margin-top: 2%; border: 2px groove red; border-radius: 5px; font-size: 30px;}
#motto {color: #eaeaea; text-shadow: -4px 4px 8px gray; width: 100%; text-align: center; text-transform: lowercase; font-style: italic;}
#time{ float: left; font-size: 15px; font-weight: bolder;}
#num { float: right; font-size: 15px; font-weight: bolder;}
#Obj {font-family: Arial; font-size: 15px; text-indent: 2.45cm;}
#timer {position: relative; z-index: 1}
#clockLabel {position: relative; left: 35%}
#clockntimer {position: absolute; font-size: 24px; top: 1%; left: 5%;}
#clockntimer *{display: inline-flex;}
#timer button {margin-right: 10%}
#startBtn {background-color: red; width: 15%; margin: 1% 0 0 1%; text-align: center; font-size: 20px; padding: 2%; color: white; border: none; cursor: pointer;}
#startBtn:hover {color: blue; text-shadow: none; cursor: pointer; transition: all 0.3s ease-in; -webkit-transition: all 0.3s ease-in; -moz-transition: all 0.3s ease-in; -o-transition: all 0.3s ease-in; padding: 10px}
#resetBtn {background-color: red; color: dark-blue; box-shadow: -2px 4px 4px 0px blue; text-shadow: -1px 2px 2px gray; font-size: 14px; margin-right: 1%; padding: 8px; border-radius: 5px; border-width: 1px; border-color: red; cursor: pointer; position: relative;}
#resetBtn:hover {color: blue; text-shadow: none; cursor: pointer; transition: all 0.3s ease-in; -webkit-transition: all 0.3s ease-in; -moz-transition: all 0.3s ease-in; -o-transition: all 0.3s ease-in; padding: 10px}
#stopBtn {background-color: red; color: dark-blue; box-shadow: -2px 4px 4px 0px blue; text-shadow: -1px 2px 2px gray; font-size: 14px; padding: 8px; border-radius: 5px; border-width: 1px; border-color: red; cursor: pointer;}
#stopBtn:hover {color: blue; text-shadow: none; cursor: pointer; transition: all 0.3s ease-in; -webkit-transition: all 0.3s ease-in; -moz-transition: all 0.3s ease-in; -o-transition: all 0.3s ease-in; padding: 10px}
#resultSheet {padding: 0.5% 1%; text-align: justify; width: 50%; margin-left: 5%; display: none}
#footer {background-color: red; height: auto; margin: 0; padding: 0.5% 2%; position: fixed; width: 100%; bottom: 0px;}
#footer * {color: #eaeaea; font-weight: bolder; font-stretch: ultra-condensed; font-size: 11px; font-style: italic;}
#footer li{ min-width: 100px; width: 140px; cursor: pointer;}
#footer li *:hover{cursor: pointer;}
#footer a{text-decoration: none; text-shadow: -2px 2px 2px gray;}
#footer p a{font-style: oblique; font-weight: light;}
#footer a:visited {color:#123456;}
#footer a:active, a:active {color: #48ff12;}
#footer a:hover, a:hover {transition: all 0.3s ease-in; -webkit-transition: all 0.3s ease-in; -moz-transition: all 0.3s ease-in; -o-transition: all 0.3s ease-in;}
#submit { border: none; background-color: red; padding: 2% 4%; color: white; cursor: pointer; visibility: hidden; margin: 0% 15%;}
#sc { background-color: red; padding: 2%; text-decoration: none; color: white; cursor: pointer; display: inline-block;}
#tas { background-color: red; padding: 2%; text-decoration: none; color: white;  margin: 0% 5%; display: inline-block}
#sr { background-color: red; padding: 2%; text-decoration: none; color: white; display: inline-block}
.chemFor, .chemFor td {border: none;} 
.chemFor tr:nth-child(even) td {color: blue;}
.correctAnswers { color: green; display: none; }
.footerLink { width: 19.2%; margin-right: 19.2%; } 
.dropdown-content {display: none; position: absolute; min-width: 160px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); padding: 0% 1%; border-radius: 1px; z-index: 1;} 
.leftcolumnForMainPageHeader {background-color: red; height: auto; top: 0; text-align: justify; padding: 1%; border: 0;}
.leftcolumn { padding: 0.5% 1%; text-align: justify; width: 50%; margin-left: 5% }
.queSet { margin-left: 3%; display: none; }
.pagebottom {margin-bottom: 40%;}
.footerBtn {background: #aeaeae; color: dark-blue; box-shadow: -2px 4px 8px 0px blue; text-shadow: -1px 2px 2px gray; font-weight: bolder; border: none; border-radius: 50px; cursor: pointer; font-style: italic; margin: 0% 2% 2% 0%; padding: 10px; float: right; position: fixed; bottom: 0; right: 0; z-index: 1; }
.footerBtn:hover {background: white; color: dark-blue; text-shadow: none; font-weight: light; transition: all 0.3s ease-in; -webkit-transition: all 0.3s ease-in; -moz-transition: all 0.3s ease-in; -o-transition: all 0.3s ease-in;}
.essayque {background: transparent; border: 1px double blue; border-radius: 5px; padding: 10px; width: 100%}  
.show0 {display: block; position: absolute; float: left; min-width: 100px; width: 33%; z-index: 1; } 
.show1 {display: block; position: absolute; float: left; min-width: 100px; width: 33%; z-index: 1;} 
.show2 {display: block; position: absolute; float: left; min-width: 100px; width: 33%; z-index: 1;} 
.hide0 {display: none;} 
.hide1 {display: none;}
.hide2 {display: none;}
.wel_page {background-color: transparent; margin: 5% 10%; font-style: italic;}
.sub {max-height: 0; opacity: 0; z-index: -1; overflow: hidden; transition: all 0.3s ease-in;}
.subjects input[name=search] {margin-left: 15%; border: none; cursor: text; padding: 3%; border-radius: 5px; display: inline}
.theoryLink, .theoryLink td {border: none;}
.theoryLink a {background: red; cursor: pointer; text-align: center; padding: 20px; color: blue; text-decoration: none; float: right; width: 50%; transition: all ease-in 0.5s}
.theoryLink a:hover {color: white; transition: all ease-in 0.5s;}
.gotoQuesNav { display: inline-flex; width: 100%}
.quesNav { width: 93%; margin-top: 1%; }
.quesNav button { background-color: red; color: white; padding: 1.5%; cursor: pointer; border: none; margin-top: 1%}
.quesNav button:hover { color: red; background-color: white; transition: all ease-in 0.2s; border: 1px red solid }
#gototableid { border: none; width: 7% }
/*.submit {background-color: red; color: dark-blue; box-shadow: -2px 4px 8px 0px blue; text-shadow: -1px 2px 2px gray; position: relative; font-size: 14px; top: 100px; left: 0; padding: 8px; border-radius: 5px; border-width: 1px; border-color: red;}
.submit:hover {color: blue; text-shadow: none; cursor: pointer; transition: all 0.3s ease-in; -webkit-transition: all 0.3s ease-in; -moz-transition: all 0.3s ease-in; -o-transition: all 0.3s ease-in; padding: 10px}*/
/*.submit2 {background-color: red; color: dark-blue; box-shadow: -2px 4px 8px 0px blue; text-shadow: -1px 2px 2px gray; position: relative; font-size: 14px; top: 105px; left: 0%; padding: 8px; border-radius: 5px; border-width: 1px; border-color: red;}
.submit2:hover {color: blue; text-shadow: none; cursor: pointer; transition: all 0.3s ease-in; -webkit-transition: all 0.3s ease-in; -moz-transition: all 0.3s ease-in; -o-transition: all 0.3s ease-in; padding: 10px}*/
/* Old .rightcolumn {color: #cecece; position: absolute; top: auto; left: 70%; width: 30%;}*/
/* Old .floatingDiv {position: fixed; float: right; top: 18%; right: 0; width: 25%; height: 10%; background: none;}*/
/*#mainBody {margin-right: 2%; font-size: 20px;  position: relative; display: none; top: 0px}*/

@media only screen and (max-width: 630px)
	{
		#stickyHeader { background-color: white; height: 110px; position: sticky; top: 0px; }
		#mainPageHeader { color: blue; text-shadow: -2px 2px 2px black; padding: 0.5% 0%; border: 0; border-radius: 3px; font-size: 150%; font-weight: bolder; text-align: center;}
		#pageHeader {background-color: red; margin-top: 1%; font-size: 100%; padding: 6%; width: 100%}
		#startBtn {background-color: red; width: 15%; margin: 1% 0 0 1%; text-align: center; font-size: 50%; padding: 2%; color: white; border: none; cursor: pointer;}
		#submit { border: none; background-color: red; padding: 2% 4%; color: white; cursor: pointer; margin-left: 15%; visibility: hidden;}
		#sideNav li, span {color: white; line-height: 2em;}
		#sideNav hr {color: white}
		#previous { border: none; background-color: red; padding: 5% 5%; color: white; cursor: pointer; }
		#start_next { border: none; background-color: red; padding: 5% 5%; color: white; cursor: pointer; visibility: hidden; }
		#submit { border: none; background-color: red; padding: 5% 5%; color: white; cursor: pointer; visibility: hidden; margin: 0% 10%;}
		#resultSheet {padding: 0.5% 1%; text-align: justify; width: 85%; display: none}
		#sc { background-color: red; padding: 4%; text-decoration: none; color: white; cursor: pointer; display: block; }
		#tas { background-color: red; padding: 4%; text-decoration: none; color: white;  margin: 2% 1%; display: block; }
		#sr { background-color: red; padding: 4%; text-decoration: none; color: white; display: block }
		#pages { width: 98% }
		#gototableid { border: none; width: 20% }
		.leftcolumnForMainPageHeader {background-color: red; height: auto; top: 0; text-align: justify; padding: 3%; border: 0;}
		.questionPaper { width: 100% }
		.leftcolumn { padding: 0.5% 1%; text-align: justify; width: 85%; margin-left: 5% }
		.queSet { width: 98% }
		.gotoQuesNav { display: inline-flex; width: 100%}
		.quesNav { width: 85%; }
		.quesNav button { background-color: red; color: white; padding: 5%; cursor: pointer; margin-top: 1% }
		.quesNav button:hover { color: red; background-color: white; transition: all ease-in 0.2s; border: 1px red solid; }
	}
